@model IEnumerable<ASP_assignment.Models.golf2>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.golf1.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sponsor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.driver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.putter)
        </th>
        @if (Request.IsAuthenticated)
        {
        <th></th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.golf1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sponsor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.driver)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.putter)
        </td>
        @if (Request.IsAuthenticated)
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
        }
    </tr>
}

</table>
