@model ASP_assignment.Models.golf1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>golf1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trophies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trophies)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.golferID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
